/* blur img url: https://images.squarespace-cdn.com/content/v1/57f5648637c581229b2e436f/1522788636811-EDLAD589AU4UYVGIK255/Screen+Shot+2018-04-03+at+4.49.58+PM.png?format=1500w */
/* background-2: https://cdn.cheapism.com/images/AI-generated_image_of_an_old_movi.2e16d0ba.fill-1440x754.jpg */
/* parallax-footer: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEUAAACnej3aAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=  */

body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-image: url('https://images.squarespace-cdn.com/content/v1/57f5648637c581229b2e436f/1522788636811-EDLAD589AU4UYVGIK255/Screen+Shot+2018-04-03+at+4.49.58+PM.png?format=1500w'); 
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
    display: flex;
    align-items: center;
    margin: 0; 
}

.container {
    text-align: center;
    color: white; 
    z-index: 1; /* Ensure the content is on top of the background */
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)); 
    z-index: 0;
}

.background-2 {
    position: relative;
    height: 350vh;
}

.background-2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('https://cdn.cheapism.com/images/AI-generated_image_of_an_old_movi.2e16d0ba.fill-1440x754.jpg');
    background-size: cover;
    background-attachment: fixed;
    filter: blur(5px) brightness(0.5);
    z-index: -1;
}

.blur-background {
    height: 100vh; 
    background-image: url('https://images.squarespace-cdn.com/content/v1/57f5648637c581229b2e436f/1522788636811-EDLAD589AU4UYVGIK255/Screen+Shot+2018-04-03+at+4.49.58+PM.png?format=1500w');
    background-size: cover;
    filter: blur(10px); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; 
}

body {
    background-color: #EEEEEE;
}

footer {
    background: #333333; 
    padding: 15px 23px;
    color: #EEEEEE;
    text-align: center;
}

.icons img {
    padding-bottom: 10px;
    float: center;
    width: 2.5%;
    margin-right: 0;
    padding-left: 10px;
}

.icons a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.left-section {
    width: 45%;
    text-align: left; 
}

.right-section {
    width: 45%;
    text-align: right;
    padding-right: 30px;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px; 
    font-weight: bold;
    color: white; 
}

p {
    color:white;
}

.divider {
    width: 23%;
    border-top: 4px solid white; 
}

p.small-text {
    margin-left: 20px;
    color: white; 
    font-size: 15px;
}

.image-container {
    margin-top: 20px;
    margin-right: 20px; 
    display: inline-block;
}

.frame {
    border: 1px solid #ffffff;
    max-width: 400px; 
    height: auto;
    box-sizing: border-box;
}

.framed-image {
    width: 440px;
    height: 350px;
    display: block;
    max-width: 100%;
    height: auto;
    position: static;
}

.parallax-footer {
    height: 100vh; 
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEUAAACnej3aAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII='); 
    background-size: cover;
    background-attachment: fixed;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-footer h2, .parallax-footer p {
    text-align: center;
}

.footer-container {
    text-align: center; 
}

.wrapper {
    max-width: 100%; 
    padding: 90px; 
    position: relative;
    box-sizing: border-box; 
    color:#eeeeeed2;
}

.wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: rgb(28, 27, 27);
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.wrapper .row{
    display: flex;
}

.wrapper .row-1{
    justify-content: flex-start;
}

.wrapper .row-2{
    justify-content: flex-end;
}

.wrapper .row section{
    background: rgba(6, 6, 6, 0.87);
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
}
 
.row section .icon,
.center-line .scroll-icon{
    position: absolute;
    background: #0b0b0be8;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffffc6;
    font-size: 17px;
    box-shadow: 0 0 0 4px #333333, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
  
.center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}

.row-1 section .icon{
    top: 15px;
    right: -60px;
}

.row-2 section .icon{
    top: 15px;
    left: -60px;
}

.row section .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row section .details .title{
    font-size: 22px;
    font-weight: 600;
}

.row section p{
    margin: 10px 0 17px 0;
}

  .wrapper .row section img {
    max-width: 50%;  /*  fotot te kene maksimumin e madhesise se prindit */
    height: auto;  
    display: block;  
    margin: 0 auto; 
    filter: brightness(0.7); 
}

.row section img {
    border-radius: 5px;  /* Përdorim për të bërë korniza të rrumbullakëtuara (opcional) */
    box-shadow: 0 0 50px rgba(73, 10, 10, 0.651);  /* Shtimi i një hijeje (opcional) */
}