.card-container{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.card-body,
.card-footer{
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 80%;
    background-color: rgb(35,34,34) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(169,168,168);
}

.card-content{
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(35,34,34);
    color: rgb(169,168,168);
}




.btn.btn-primary {
    width: 60%;
    background: linear-gradient(to bottom right, rgba(145, 15, 18, 0.7), rgb(128, 61, 61));
    color: white;
    border: 1px solid #3d3d3d;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 20px;
    border-radius: 4px;
    justify-content: center;
    cursor: pointer;
    transition: background 0.5s;
    box-sizing: border-box;
}

.btn.btn-primary:hover {
    background: linear-gradient(to top left, rgba(145, 15, 18, 0.7), rgb(128,61,61));
    border: 1px solid #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #333;
  }
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: lightgray;
  }
  th {
    background-color: rgb(35,34,34);
    color: #fff;
  }

  .video-section {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .video-container {
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .description {
    margin-top: 10px;
  }
/* Modal background color */
/* Style for the modal */

/* Style for the modal content */
.modal-content {
  background-color: rgb(35,34,34);
}

/* Style for the modal header */
.modal-header {
  background-color: rgb(24,22,22);
}

/* Style for the modal title */
.modal-title {
  color: lightgray;
  align-items: center;
}

/* Style for the close button */
.close {
  color: rgb(24,22,22);
}

/* Style for the modal body */
.modal-body {
  background-color: rgb(35,34,34);
  color: lightgray;

}

#fullName{
  background-color: #3d3d3d;
  border: 3 px solid lightgray;
  color: lightgray;
}
#email{
  background-color: #3d3d3d;
  border: 3 px solid lightgray;
  color: lightgray;
}
/* Style for input fields */
.form-control {
  background-color: #3d3d3d;
}

/* Style for checkboxes and radio buttons */
.form-check-input {
  appearance: none;
  background-color: #333;
  border: 2px solid lightgray;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.form-check-input:checked{
  background-color: rgba(145, 15, 18, 0.7);
  border-color: rgb(128, 61, 61);
  color: lightgray;
}

/* Style for quantity buttons */
.quantity-buttons{
  display: flex;
  align-items: center;
}
.quantity-buttons button{
  width: 25px;
  text-align: left;
}
.quantity-buttons input{
  width: 35px;
  text-align: center;
}

/* Style for final price output */
.finalPrice {
  color: lightgray;
}

/* Style for modal footer */
.modal-footer {
  background-color: rgb(35,34,34);
}
.error-message{
  color: red;
}