
/* Stilizimi për numrat e telefonit */
p a[href^="tel:"] {
    color: rgb(169,168,168);
    text-decoration: none;
}

/* Stilizimi për adresat email */
p a[href^="mailto:"] {
    color: rgb(169,168,168);
    text-decoration: none;
}

/* Efekti hover për emaila*/
a[href^="mailto:"]:hover {
    color: #cb6b6b; /* Kuq */
}

/* Efekti hover për nr telit */
p a[href^="tel:"]:hover {
    color: #cb6b6b; /* Kuq */
}



/* Live Chat Button */
.contact-info button, .inquiry-item1 button {
    background-color: rgba(120, 120, 120, 0.825);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(83, 74, 74);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    width: 150px; 
    margin-top: 1.3cm; 
}


.horizontal-line {
    width: 100%;
    border-top: 1px solid #ddd; 
    margin: 10px 0; /* Adjust the margin as needed */
}


.standard-ticket-hours ol {
    list-style-type: disc;
    padding: 0;
}


.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#liveChatSection {
    padding: 30px;
    text-align: left;
    max-width: 400px;
    background-color: #323130;
    color: #ffffff; 
}

#liveChatSection button {
    text-align: center;
    display: inline-block;
    width: 30%;
    cursor: pointer;
    border-radius: 10px;
}

#liveChatSection input,
#liveChatSection textarea {
    color: rgb(255, 255, 255);
    background-color: #323130;
    border: 0.1px solid #bebebe; 
    margin-bottom: 10px; 
    display: block; 
    width: 100%;
    box-sizing: border-box; 
    padding: 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    #liveChatSection {
        max-width: 90%; 
        margin: 5% auto; 
    }
}

#requiredFields,
label {
    margin-bottom: 10px;
    display: block;
}

label {
    margin-bottom: 5px;
    color: #ffffff; 
    border-radius: 10px;
}
.form-section select {
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-section select:hover {
    border-color: #555;
}

.form-section select {
    outline: none;
    background-color: #555;
    color: #ffffff;
}

/* Stilizimi i opsionit parazgjedhur */
.form-section select option[selected] {
    background-color: #555;
    color: #fff;
}

.form-section select option {
    background-color: #555;
    color: #000;
}

.color{
    background-color: rgb(11, 11, 11);
}

.contact{
    color: aliceblue;
}

/* harta */
.center-text {
    text-align: center;
    font-size: 15px;
    color: rgb(169,168,168) ;
}

.center-text h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 1.6 cm;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

section iframe {
    width: 100%;
    max-width: 1100px; 
    height: 500px; 
    border: 0; 
    margin: 15px 0; 
}

.additional-section {
    max-width: 850px; 
    margin: 0 auto; 
    text-align: center;
    color: rgb(169,168,168) ;
}

.additional-section h5 {
    font-size: 20px;
    color: rgb(169,168,168);
}

.additional-section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px; 
}

/* faqs */
.faqs-heading {
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
}

.buy-tickets {
    text-decoration: none;
    font-weight: bold;
    background-color: #5c5a5a; 
    color: rgb(169,168,168);
}

.buy-tickets:hover {
    color: rgb(128, 61, 61)
}

.faqs-details {
    padding: 20px;
}

.faqs-title {
    font-size: 24px;
    color: rgb(169,168,168);
}

.faqs-list {
    list-style: none;
    padding: 0;
}

.faqs-list li {
    margin-bottom: 15px;
}

.faqs-list details summary {
    outline: none;
    font-weight: bold;
    color: rgb(169,168,168);
    cursor: pointer;
    font-weight: bold;
    outline: none;
}

.faqs-list details p {
    margin-top: 10px;
    font-size: 15px;
    color: rgb(169,168,168); 
    outline-style: solid;    
    outline-color: #5c5a5a; 
    outline-width: 2px; 
    outline-offset: 5px; 
}

/* accesibility */
.accessibility-section {
    display: flex;
    justify-content: space-between;
    margin: 0 1cm;
    margin-bottom: 1.5cm;
    margin-top: 50px;
}

.accessibility-content {
    flex: 1;
    max-width: 50%;
    padding-right: 1cm;
}

.accessibility-section h2, h4 {
    color: rgb(255, 255, 255);
}
.accessibility-section p {
    color: rgb(169,168,168);
}

/* Accessibility Image */
.accessibility-image {
    flex: 1;
    max-width: 40%;
    height: auto;
       display: block;
    max-height: 350px;
    background-repeat: no-repeat;
    border-radius: 2px;
    box-shadow: none;    
}

#feedbackIntro {
    color: #bebebe;
}

/* Styles for the popup form */
.popup1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(100px);
    z-index: 1;
}

.feedback-section {
    border: 1px solid #bebebe;
    padding: 1em;
    width: auto;
}

#feedbackPopup {
    padding: 3%;
    text-align: left;
    max-width: 40%;
    background-color: #323130;
    color: #ffffff;
    height: 600px;
    overflow-y: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    margin-left: auto; 
    margin-right: auto; 
}

#feedbackPopup button {
    background-color: #323130;
    color: #ffffff;
    border: 0.3px solid #8d1a1a;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 20%;
    cursor: pointer;
    border-radius: 10px;
}

label {
    margin-bottom: 5px;
    color: #ffffff;
}

/* Styles for input and textarea */
#feedbackPopup input,
#feedbackPopup textarea,
#feedbackPopup select {
    color: rgb(255, 255, 255);
    background-color: #323130;
    border: 0.1px solid #bebebe;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    #feedbackPopup {
        max-width: 90%; /* gjeresia maximale per rezolucione me te vogla */   
}
}

/* Stili për butonat */
button {
    padding: 10px;
    background-color: #8d1a1a;
    color: #ffffff;
    border-style: 1px solid #bebebe ;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 40%;
    margin-top: 2cm;
    box-shadow: 5px 5px 4px rgba(82, 75, 75, 0.712);
    transition: opacity 2s ease;
}

/* Efekti hover për butonat */
button:hover {
    background-color: #6e7377;
}

/* Footer */
footer {
    background: #333333; 
    padding: 15px 23px;
    color: #EEEEEE;
    /* color: #4C4C4C; */
    text-align: center;
}

#arrow-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #555; /* Grey background color */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
    
    