body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}
.center-text {
    text-align: center;
}
.map {
    height: 400px;
    width: 100%;
    border: 2px solid #555;
}
input[type="text"], button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}
input[type="text"] {
    width: 300px;
}
button {
    background-color: #444;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}
h2{
    margin-bottom: -10px;
    padding: 5px;
}