/* colors: #4C4C4C Light Grey
            #910F12 Dark Red
            #EEEEEE Light Grey / White 
            #333333  Dark Grey*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C4C4C;
    padding: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-right: 30px;
}

.navbar a {
    text-decoration: none;
    color: #EEEEEE; 
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s, text-shadow 0.3s; 
}

.navbar a:hover {
    color: #910F12; 
    text-shadow: 0 0 10px #FFFFFF; 
}

.icon img {
    width: 70px; 
    height: 70px;
}

body {
    background-color: #EEEEEE;
}

footer {
    background: #333333; 
    padding: 15px 23px;
    color: #EEEEEE;
    /* color: #4C4C4C; */
    text-align: center;
}
.icons img
  {   padding-bottom: 10px;
      float: center;
      width: 2.5%;
      margin-right: 0;
      padding-left: 10px;
}
.icons a {
    text-decoration: none;
}
